<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.user.myapplication" >

    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 往SDCard写入数据权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 往SDCard读取数据权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 系统闹钟访问权限 -->
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM"/>
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <!-- 访问互联网权限 -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.user.myapplication.activities.TestMainActivity"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:allowTaskReparenting="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.user.myapplication.activities.ActivityB"
                  android:process=".remote"/>
        <activity android:name="com.example.user.myapplication.activities.ActivityC"
                  android:launchMode="singleTask"
                  android:taskAffinity="com.example.user.myapplication.activities.ActivityC"
                  android:excludeFromRecents="true"/>
        <activity android:name="com.example.user.myapplication.utils.ImageUtils" />

        <service
            android:name=".services.GPXService"
            android:enabled="true" />

        <activity
            android:name="com.example.user.myapplication.MainActivity"
            android:label="@string/title_activity_intent1" >
        </activity>
        <activity
            android:name="com.example.user.myapplication.activities.ActivityA"/>
        <activity
            android:name="com.example.user.myapplication.activities.ServiceActivity"/>
        <activity
            android:name="com.example.user.myapplication.activities.AnimationActivity"/>

        <activity
            android:name="com.example.user.myapplication.activities.TestCustmerViewActivity"/>

        <service android:name=".services.HelloService"/>
        <service android:name=".services.HelloIntentService"/>
        <service android:name=".services.MessengerService"/>
    </application>

</manifest>
